body {
    font-family: sans-serif;
    max-width: 480px;
    margin: 40px auto;
    line-height: 1.6;
}
label { 
    display:block; 
    margin-top: 15px; 
}
.output { 
    margin-top: 20px; 
    font-size: 1.2em; 
    font-weight: bold; 
}
.equation-box {
    margin-top: 30px;
    padding: 0px 16px 30px;
    background: #f7f7f7;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    text-align: center;
}
h2 {
    margin-bottom: 5px;
}
.intro {
      margin-bottom: 20px;
      font-size: 0.95em;
      color: #444;
}
input#constant {
  position: relative;
  top: 0.5rem;
}
footer {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9em;
}